*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: #798bdb;
}
body{
	background-color: #a2cbe2;
	color: rgb(0, 0, 0);
}
.glyphicon{
	font-size: 30px;
	color:#fafafa; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: grey;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #ffffff;
}
.navbar-brand{
font-size: 30px;	
}